*{
    padding : 0 ;
    margin : 0;
}

@font-face {
    font-family: "header_font" ;
    src: url(LINESeedJP-Bold.ttf);
}

@font-face {
    font-family: "link_font";
    src: url(Sanchez-Regular.ttf);
}

.Header_Background {
    border-top: 8vh solid #5B0101 ;
    background-image: url("20240626_102732_copet_pattern.jpg") ;
    height : 30vh;
    background-size : 100% ;
    opacity : 100% ;
    background-position-y: 80% ;
}

h1 {
    text-align: center;
    top : 14vh ;
    width : 100% ;
    vertical-align : middle ;
    height : 25vh ;
    font-size : 15vh;
    opacity : 100%;
    position: absolute;
    color : #5B0101; 
    font-family : "header_font" ;
} 

a{
    text-decoration : none ;
    color : #d2ae75 ;
    font-size : 3.5vh ;
    position : absolute ;
    top : 1.6vh ;
    font-family : "link_font" ;
}

.home {
    left : 60px ;
}

.activities {
    left : 210px ;
}

.about {
    left : 375px ;
}

.contact {
    left : 480px ;
}

img[alt="home icon"] {
    position : absolute ;
    height : 4vh ;
    left : -40px ;
}

img[alt="geothermal"] {
    width : 35vw ;
    margin : 3vw ;
    border : 10px solid #5B0101;
    border-radius : 10px;
}

p{
    width : 35vw ;
    margin-left : 85px ;
    margin-right : 85px;
    text-align : justify;
}