/* 
   This css sets the padding and margin of everything to 0 
   so the header is flush to the side of the page.
*/
* {
    padding : 0 ;
    margin : 0;
}

/*This css sets the background color of each page*/
body {
    background-color : #d8c8b3 ;
}

/* This css creates three different font-familys for the site. */
@font-face {
    font-family: "header_font" ;
    src: url(LINESeedJP-Bold.ttf);
}

@font-face {
    font-family: "link_font";
    src: url(Sanchez-Regular.ttf);
}

@font-face {
    font-family: "content_font";
    src: url(Bungee-Regular.ttf);
}

/* This css sets the background and size of the header. */
.Header_Background {
    border-top: 7vh solid #5B0101 ;
    background-image: url("20240626_102732_copet_pattern.jpg") ;
    height : 28vh;
    background-size : 100% ;
    background-position-y: 80% ;
    border-bottom : 10px solid #5B0101 ;
    
}

/* This css sets the position, size and style for the header text. */
h1 {
    text-align: center;
    top : 14vh ;
    width : 100% ;
    vertical-align : middle ;
    height : 25vh ;
    font-size : 12vh;
    position: absolute;
    color : #5B0101; 
    font-family : "header_font" ;
} 

/* 
    This css sets the style and size for all the links and how they change when 
    they are hovered over.
*/
a{
    text-decoration : none ;
    color : #d2ae75 ;
    font-size : 2.5vh ;
    position : absolute ;
    padding : 1.8vh ;
    font-family : "link_font" ;
    top : 0 ;
    border-radius : 10px ;
    transition : 0.5s ease ;
}

a:hover {
    background-color : #7e0404 ;
    color : #d2ae75 ;
}


/* This css sets the positions for the links at the top of the header. */
.home {
    left : 10px ;
}

.thearea {
    left : 110px ;
}

.experiences {
    left : 245px ;
}

.carving_weaving {
    left : 410px ;
}

/* This css floats the left content to the left of the page. */
.leftcontent {
    float : left ;
}

/* This css sets the size, border, and position of the left image on the first page. */
img[alt="geothermal"] {
    width : 35vw ;
    height : 35vh ;
    margin : 3vw ;
    margin-bottom : 4vh ;
    border : 0.6vw solid #5B0101;
    border-radius : 0.6vw;
    object-fit: cover;
}

/* This css sets the size, font and position of the paragraph on the first page. */
.leftcontent p{
    width : 36vw ;
    margin-left : 3vw ;
    text-align : justify;
    font-size : 2.5vh ;
    font-family : "content_font" ;
    color : #5B0101 ;
}

/* This css sets the sizing and border of the images on the home page. */
.container img {
    transition : 0.5s ease ;
    opacity : 1 ;
    width : 15vw ;
    height : 75vh ;
    overflow : hidden ;
    object-fit : cover ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
}

/* This css sets the columns and spacing for the home page. */
.te_puia_grid {
    display : grid ;
    grid-template-columns : 1fr 1fr 1fr ;
    margin-top : 3vw ;
    margin-bottom : 3vw ;
}

/* This css sets the positioning and sizing for the containers on the home page. */
.container {
    position : relative ;
    width : 15vw ;
    display : flex ;
    height : 75vh ;
    justify-content : center ;
    vertical-align : middle ;
}

/* This css changes the opacity of the images on the home page when hovered over. */
.container:hover img{
    opacity : 50% ;
}

/* This css sets the sizing and color of the text link on the images */
.overlay {
    transition : 0.5s ease ;
    opacity: 0;
    color :#5B0101;
    background-color : #d2ae75;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* This css changes the opacity of the text links when the image is hovered over. */
.container:hover .overlay {
    opacity : 1;
}

/* This css sets the grid spacing for the layout of The Area page. */
.thearea_grid{
    display : grid;
    max-width : 100vw ;
    justify-items : center ;
    grid-template-columns: 1fr 1fr 1fr ;
    padding : 2vw ; 
    gap : 2vw
}

/* This css sets the size of each box on The Area page. */
.grids {
    width : 29vw ;
    height : 420px;
}

/* This css sets the border and fit of the images on The Area page. */
.thearea_grid img {
    object-fit : cover ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
    overflow : hidden ;
}

/* This css changes the font and sizing of the text on The Area page. */
.thearea_grid p {
    font-family : "link_font" ;
    color : #5B0101 ;
    font-weight : bold ;
    max-height : 410px;
    font-size: 80% ;
    margin-bottom: 1.5vw;
}

/* This css sets the size of the textbox on The Area page. */
.thearea_grid.textbox {
    width : 29vw ;
    height : 400px ;
    text-align : justify ;
}

/* This css sets the font, size and color of heading2 for all pages except for in the footer. */
h2:not(.footer) {
    font-size : 3vh ;
    font-family : "content_font" ;
    color : #5B0101 ;
    text-align : center ;
}

/* 
    This css sets the size of the grid on the Experiences page and changes the text 
    and image sizing and color styles for inside the grid.
*/
.experiences_grid {
    display : grid ;
    grid-template-columns: auto auto auto auto;
    margin : 2vw ;
    margin-bottom: 0;
}

.experiences_grid p {
    width : 22vw ;
    font-size : 90% ;
    font-family : "link_font" ;
    color : #5B0101 ;
    font-weight : bold ;
    text-align : justify ;
    align-items: center;
    margin : 2.5vw ;
    margin-top : 0 ;
}

.box img{
    object-fit: cover ;
    overflow : hidden ;
    width : 20vw ;
    height : 30vh ;
    align-items : center  ;
    margin-bottom : 1.5vw ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
}

/* 
    This css sets the grid for the Carving and Weaving page and sets the size and 
    color of the images and text for inside the grid. 
*/
.carving_weaving_grid.box {
    margin : 3vw ;
    height : 70vh ;
}

.carving_weaving_grid {
    display : grid ;
    grid-template-columns: auto auto;
    margin : 3vw ;
    gap : 3vw ;
}

.carving_weaving_grid img {
    width : 43vw ;
    height : 70vh;
    object-fit: cover ;
    overflow : hidden ;
    margin-bottom : 1.5vw ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
}

.carving_weaving_grid p{
    width : 43vw ;
    font-size : 90% ;
    font-family : "link_font" ;
    color : #5B0101 ;
    font-weight : bold ;
    text-align : justify ;
    align-items: center ;
    margin-left : 0.6vw ;
    margin-bottom : 1.5vw ;
}

/* This css sets the size and alignment of the text box's on the Carving_Weaving page. */
.carving_weaving_grid.textbox {
    width : 43vw ;
    height : 300px;
    color : #5B0101 ;
    font-weight : bold ;
    text-align : justify ;
    align-items: center ;
    vertical-align: middle;
}

/* This css sets the positioning, size and color of the footer on all the pages. */
footer {
    width : 100% ;
    background-color : #5B0101 ;
    text-align : center ;
    padding-top : 10px;
    padding-bottom : 10px;
    color :#d2ae75 ;
    font-family: "link_font" ;
    font-size: 15px;
    bottom : 0px; 
    position : relative ;
}

footer h2 {
    font-size: 15px;
}