/* 
   This css sets the padding and margin of everything to 0 
   so the header is flush to the side of the page.
*/
* {
    padding : 0 ;
    margin : 0;
}

/* This css creates three different font-familys for the site. */
@font-face {
    font-family: "header_font" ;
    src: url(LINESeedJP-Bold.ttf);
}

@font-face {
    font-family: "link_font";
    src: url(Sanchez-Regular.ttf);
}

@font-face {
    font-family: "content_font";
    src: url(Bungee-Regular.ttf);
}

/* This css sets the background and size of the header. */
.Header_Background {
    border-top: 7vh solid #5B0101 ;
    background-image: url("20240626_102732_copet_pattern.jpg") ;
    height : 28vh;
    background-size : 100% ;
    background-position-y: 80% ;
    border-bottom : 10px solid #5B0101 ;
    
}

/* This css sets the position, size and style for the header text. */
h1 {
    text-align: center;
    top : 14vh ;
    width : 100% ;
    vertical-align : middle ;
    height : 25vh ;
    font-size : 12vh;
    position: absolute;
    color : #5B0101; 
    font-family : "header_font" ;
} 

/* 
    This css sets the style and size for all the links and how they change when 
    they are hovered over.
*/
a{
    text-decoration : none ;
    color : #d2ae75 ;
    font-size : 2.5vh ;
    position : absolute ;
    padding : 1.8vh ;
    font-family : "link_font" ;
    top : 0 ;
    border-radius : 10px ;
    transition : 0.5s ease ;
}

a:hover {
    background-color : #7e0404 ;
    color : #d2ae75 ;
}

/* This css sets the positions for the links at the top of the header. */
.home {
    left : 10px ;
}

.thearea {
    left : 110px ;
}

.experiences {
    left : 245px ;
}

.carving_weaving {
    left : 410px ;
}

/* This css floats the left content to the left of the page. */
.leftcontent {
    float : left ;
}

/* This css sets the size, border, and position of the left image on the first page. */
img[alt="geothermal"] {
    width : 35vw ;
    margin : 3vw ;
    margin-bottom : 4vh ;
    border : 0.6vw solid #5B0101;
    border-radius : 0.6vw;
}

/* This css sets the size, font and position of the paragraph on the first page. */
.leftcontent p{
    width : 36vw ;
    margin-left : 3vw ;
    text-align : justify;
    font-size : 2.5vh ;
    font-family : "content_font" ;
    color : #5B0101 ;
}


.container img {
    transition : 0.5s ease ;
    opacity : 1 ;
    width : 15vw ;
    height : 75vh ;
    overflow : hidden ;
    object-fit : cover ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
}

.grid {
    display : grid ;
    grid-template-columns : 1fr 1fr 1fr ;
    margin-top : 3vw ;
    margin-bottom : 3vw ;
}

.container {
    position : relative ;
    width : 15vw ;
    display : flex ;
    height : 75vh ;
    justify-content : center ;
    vertical-align : middle ;
    float : center ;
}

.container:hover img{
    opacity : 50% ;
}

.overlay {
    transition : 0.5s ease ;
    opacity: 0;
    color :#5B0101;
    background-color : #d2ae75;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover .overlay {
    opacity : 1;
}

.thearea_grid{
    display : grid ;
    max-width : 100vw ;
    justify-items : center ;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding : 2vw ;
}

.grids {
    width : 29vw ;
    height : 420px;
    margin-bottom : 2vw
}

.thearea_grid img {
    object-fit : cover ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
    overflow : hidden ;

}

.thearea_grid p {
    font-size : 80% ;
    font-family : "link_font" ;
    color : #5B0101 ;
    font-weight : bold ;
    max-height : 410px;
    /*font-size : clamp(75%, 1.6px, 85%) ;*/
    font-size: 80% ;
    
}

.textbox {
    width : 29vw ;
    height : 400px ;
    text-align : justify ;
}

h2 {
    font-size : 3vh ;
    font-family : "content_font" ;
    color : #5B0101 ;
    text-align : center ;
}

.experiences_grid {
    display : grid ;
    grid-template-columns: auto auto auto auto;
    margin : 2vw ;
}

.experiences_grid p {
    width : 22vw ;
    height : 200px;
    font-size : 90% ;
    font-family : "link_font" ;
    color : #5B0101 ;
    font-weight : bold ;
    text-align : justify ;
    align-items: center;
    margin : 2.5vw ;
    margin-top : 0 ;
}

.box img{
    object-fit: cover ;
    overflow : hidden ;
    width : 20vw ;
    height : 200px;
    align-items : center  ;
    margin-bottom : 1.5vw ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
}

.carving_weaving_grid {
    display : grid ;
    grid-template-columns: auto auto;
    margin : 3vw ;
}

.carving_weaving_grid img {
    width : 40vw ;
    height : 300px;
    object-fit: cover ;
    overflow : hidden ;
    margin-bottom : 1.5vw ;
    border-radius : 0.6vw ;
    border : 0.6vw solid #5B0101 ;
}

.carving_weaving_grid p{
    width : 40vw ;
    height : 300px;
    font-size : 90% ;
    font-family : "link_font" ;
    color : #5B0101 ;
    font-weight : bold ;
    text-align : justify ;
    align-items: center ;
}